*.a
*.d
*.deflate
*.disasm
*.map
*.o
*.prev
*.pyc
/Makefile.common
/Makefile.config
/config.h
/cscope.out
/hdisk.img
/image.boot
/image.iso
/uImage.bin
/build
autotool/
boot/arch/arm32/_link.ld
boot/arch/arm64/_link.ld
boot/arch/ia64/_link.ld
boot/arch/mips32/_link.ld
boot/arch/ppc32/_link.ld
boot/arch/sparc64/_link.ld
boot/components.h
boot/components.o.new
boot/components.s
boot/components.tar
boot/components.zip
boot/components_desc.c
boot/distroot/
boot/image.bin
boot/image.boot
boot/image.raw
boot/initrd.img
boot/initrd.img.gz
doxygen/doxygen.cfg
doxygen/doxygen.cfg.gen
doxygen/html/
doxygen/latex/
tags
tools/sycek/
tools/xcw/demo/viewer
