*.a
*.check.c
*.d
*.deflate
*.disasm
*.la
*.lo
*.map
*.o
*.prev
*.pyc
*.so.*
*.so
/Makefile.common
/Makefile.config
/PKG
/common.h
/config.h
/cscope.out
/downloads
/hdisk.img
/image.boot
/image.iso
/uImage.bin
autotool/
boot/arch/arm32/_link.ld
boot/arch/arm64/_link.ld
boot/arch/ia64/_link.ld
boot/arch/mips32/_link.ld
boot/arch/ppc32/_link.ld
boot/arch/sparc64/_link.ld
boot/components.h
boot/components.o.new
boot/components.s
boot/components.tar
boot/components.zip
boot/components_desc.c
boot/distroot/
boot/image.bin
boot/image.boot
boot/image.raw
boot/initrd.img
boot/initrd.img.gz
common.h.new
deps.mk
doxygen/doxygen.cfg
doxygen/doxygen.cfg.gen
doxygen/html/
doxygen/latex/
kernel/arch/abs32le/_link.ld
kernel/arch/amd64/_link.ld
kernel/arch/arm32/_link.ld
kernel/arch/arm64/_link.ld
kernel/arch/ia32/_link.ld
kernel/arch/ia64/_link.ld
kernel/arch/mips32/_link.ld
kernel/arch/ppc32/_link.ld
kernel/arch/sparc64/_link.ld
kernel/generic/src/debug/real_map.bin
kernel/kernel.bin
kernel/kernel.bin.gz
kernel/kernel.dump
kernel/kernel.elf
kernel/kernel.elf.gz
kernel/kernel.raw
tag
tags
tools/amd64-unknown-elf
tools/arm-linux-gnueabi
tools/binutils-*.tar.bz2
tools/downloads/
tools/gcc-*.tar.bz2
tools/gdb-*.tar.gz
tools/i686-pc-linux-gnu
tools/ia64-pc-linux-gnu
tools/mips-linux-gnu
tools/mips64el-linux-gnu
tools/mipsel-linux-gnu
tools/ppc-linux-gnu
tools/ppc64-linux-gnu
tools/riscv64-unknown-linux-gnu
tools/sparc64-linux-gnu
tools/sycek/
tools/xcw/demo/viewer
