## General configuration directives

# Architecture
@ "amd64" AMD64/Intel EM64T
@ "ia32" Intel IA-32
@ "ia64" Intel IA-64
@ "mips32" MIPS 32-bit
@ "ppc32" PowerPC 32-bit
@ "ppc64" PowerPC 64-bit
@ "sparc64" Sun UltraSPARC
! ARCH (choice)

# PPC32 Compiler
@ "cross" Cross-compiler
@ "native" Native
! [ARCH=ppc32] PPC32_COMPILER (choice)
% [ARCH=ppc32] SAVEAS PPC32_COMPILER COMPILER

# PPC64 Compiler
@ "cross" Cross-compiler
@ "native" Native
! [ARCH=ppc64] PPC64_COMPILER (choice)
% [ARCH=ppc64] SAVEAS PPC64_COMPILER COMPILER

# MIPS32 Compiler
@ "cross" Cross-compiler
@ "native" Native
! [ARCH=mips32] MIPS32_COMPILER (choice)
% [ARCH=mips32] SAVEAS MIPS32_COMPILER COMPILER

# Debug bootloader
! [ARCH=ppc32] CONFIG_DEBUG (n/y)

# Use Block Address Translation
! [ARCH=ppc32] CONFIG_BAT (y/n)

# Target image
@ "binary" Binary image (MSIM)
@ "ecoff" Ecoff image (GXEmul)
! [ARCH=mips32] CONFIG_IMAGE (choice)
