## General configuration directives

# Architecture
@ "ia32" Intel IA-32
@ "amd64" AMD64/Intel EM64T
@ "sparc64" Sun UltraSPARC
@ "ppc32" PowerPC 32-bit
! ARCH (choice)

# PPC32 Compiler
@ "cross" Cross-compiler
@ "native" Native
! [ARCH=ppc32] PPC32_COMPILER (choice)
% [ARCH=ppc32] SAVEAS PPC32_COMPILER COMPILER
