## General configuration directives

# Platform
@ "amd64" AMD64/Intel EM64T (PC)
@ "ia32" Intel IA-32 (PC)
@ "ia64" Intel IA-64 (Ski)
@ "mips32msim" MIPS 32-bit (MSIM)
@ "mips32sim" MIPS 32-bit (Simics)
@ "mips32gbe" MIPS 32-bit (GXEmul big endian)
@ "mips32gle" MIPS 32-bit (GXEmul little endian)
@ "mips32sgi" MIPS 32-bit (Sgi Indy)
@ "ppc32" PowerPC 32-bit (iMac G4)
@ "ppc64" PowerPC 64-bit (iMac G5)
@ "sparc64" Sun UltraSPARC 64-bit
@ "xen32" Xen 32-bit (PC)
! PLATFORM (choice)

# Compiler
@ "cross" Cross-compiler
@ "native" Native
! COMPILER (choice)

# Debug build
! CONFIG_DEBUG (y/n)
