## General configuration directives

# Support for symetric multiprocessors
! CONFIG_SMP (y/n)

# Improved support for hyperthreading
! CONFIG_HT (y/n)

# Lazy context switching
! CONFIG_FPU_LAZY (y/n)

## Debugging configuration directives

# General debuging and assert checking
! CONFIG_DEBUG (y/n)

# Deadlock detection support for spinlocks
! CONFIG_DEBUG_SPINLOCK (y/n)

## Run-time configuration directives

# Enable user space support
! CONFIG_USERSPACE (n/y)

# Kernel test type
@ "" No test
@ "synch/rwlock1" Read write test 1
@ "synch/rwlock2" Read write test 2
@ "synch/rwlock3" Read write test 3
@ "synch/rwlock4" Read write test 4
@ "synch/rwlock5" Read write test 5
@ "synch/semaphore1" Semaphore test 1
@ "synch/semaphore2" Sempahore test 2
@ "fpu/fpu1" Intel fpu test 1
@ "fpu/sse1" Intel Sse test 1
@ "fpu/mips1" Mips FPU test 1
@ "print/print1" Printf test 1
@ "thread/trhead1" Thread test 1
@ "mm/mapping" Mapping test 1
! CONFIG_TEST (choice)
