## General configuration directives

# Architecture
@ "ia32" Intel IA-32
@ "amd64" AMD64/Intel EM64T
@ "ia64" Intel IA-64
@ "mips32" MIPS 32-bit Little Endian
@ "mips32eb" MIPS 32-bit Big Endian
@ "ppc32" PowerPC 32-bit
! ARCH (choice)

# IA32 Compiler
@ "cross" Cross-compiler
@ "native" Native
! [ARCH=ia32] IA32_COMPILER (choice)
% [ARCH=ia32] SAVEAS IA32_COMPILER COMPILER
