#
# Copyright (c) 2006 Ondrej Palkovsky 
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
#
# - Redistributions of source code must retain the above copyright
#   notice, this list of conditions and the following disclaimer.
# - Redistributions in binary form must reproduce the above copyright
#   notice, this list of conditions and the following disclaimer in the
#   documentation and/or other materials provided with the distribution.
# - The name of the author may not be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
# OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
# NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
# THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

## General configuration directives

# Architecture
@ "amd64" AMD64/Intel EM64T
@ "arm32" ARM 32-bit
@ "ia32" Intel IA-32
@ "ia32xen" Intel IA-32 on Xen hypervisor
@ "ia64" Intel IA-64
@ "mips32" MIPS 32-bit
@ "ppc32" PowerPC 32-bit
@ "ppc64" PowerPC 64-bit
@ "sparc64" Sun UltraSPARC
! ARCH (choice)

# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "icc_native" ICC Native                                                                                         
@ "suncc_native" Sun Studio C Compiler                                                                             
! [ARCH=amd64|ARCH=ia32|ARCH=ia32xen] COMPILER (choice)                                               
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "icc_native" ICC Native                                                                                         
! [ARCH=ia64] COMPILER (choice)                                                                               
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "suncc_native" Sun Studio C Compiler                                                                             
! [ARCH=sparc64] COMPILER (choice)                                                                            
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
! [ARCH=arm32|ARCH=mips32|ARCH=ppc32|ARCH=ppc64] COMPILER (choice)

# Start AP processors by the loader
! [ARCH=sparc64] CONFIG_SMP (y/n)

# Debug bootloader
! [ARCH=ppc32] CONFIG_DEBUG (n/y)

# Use Block Address Translation
! [ARCH=ppc32] CONFIG_BAT (y/n)

# Target image
@ "binary" Binary image (MSIM)
@ "ecoff" Ecoff image (GXEmul)
! [ARCH=mips32] IMAGE (choice)

# Ramdisk format
@ "tmpfs" TMPFS image
@ "fat" FAT16 image
! RDFMT (choice)

# Preserve A.OUT header in isofs.b
! [ARCH=sparc64] CONFIG_AOUT_ISOFS_B (y/n)

# External ramdisk 
! [ARCH=sparc64] CONFIG_RD_EXTERNAL (y/n)
