## General configuration directives

# Architecture
@ "amd64" AMD64/Intel EM64T
@ "arm32" ARM 32-bit
@ "ia32" Intel IA-32
@ "ia64" Intel IA-64
@ "mips32" MIPS 32-bit Little Endian
@ "mips32eb" MIPS 32-bit Big Endian
@ "ppc32" PowerPC 32-bit
@ "ppc64" PowerPC 64-bit
@ "sparc64" Sun UltraSPARC 64-bit
! ARCH (choice)

# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "icc_native" ICC Native                                                                                         
@ "sscc_native" Sun Studio C Compiler                                                                             
! [ARCH=amd64|ARCH=ia32] COMPILER (choice)                                               
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "icc_native" ICC Native                                                                                         
! [ARCH=ia64] COMPILER (choice)                                                                               
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
@ "sscc_native" Sun Studio C Compiler                                                                             
! [ARCH=sparc64] COMPILER (choice)                                                                            
                                                                                                                  
# Compiler                                                                                                        
@ "gcc_cross" GCC Cross-compiler                                                                                  
@ "gcc_native" GCC Native                                                                                         
! [ARCH=arm32|ARCH=mips32|ARCH=mips32eb|ARCH=ppc32|ARCH=ppc64] COMPILER (choice)

# General debuging and assert checking
! CONFIG_DEBUG (y/n)
